.friendList{
    width: 220px;
    height: 400px;    
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-direction: column;  
    list-style: none;
}

.listItem{
    background-color: azure;
    width: 140px;
    height: 48px;
    border-radius: 5px;  
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;  
    list-style: none;
}

.status{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: saddlebrown;  
}

.statusIsOnline{    
    background-color: red;  
}

.avatar {
    margin-left: 10px ;
    margin-right: 10px;
}

.name{
    color: black;    
}